/* General styles */
* {
    font-family: 'Marvel', sans-serif;
}

/* Overlay styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(65, 65, 65, 0.8);
    mask-repeat: repeat;
}

/* Body styles */
body {
    background-color: brown;
    background-image: url(./img/Spider-man-4.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    color: #fff;
}

/* Estilos del encabezado */
.header {
    padding-top: 5%;
    position: relative;
    z-index: 1;
}

.header__title {
    font-size: 20rem;
    font-weight: 900;
    line-height: 1.2;
    margin: auto 0;
    margin-bottom: 1rem;
    color: #c22c2c;
    -webkit-text-stroke: 2px rgb(243, 241, 255);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.9);
}

/* Main styles */
.main {
    position: relative;
    z-index: 1;
    padding: 2rem;
    text-align: center;
}

.main__section {
    margin-bottom: 2rem;
}

.main__title {
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.2;
    margin: auto 0;
    margin-bottom: 1rem;
    color: #6793e6;
    text-align: center;
    letter-spacing: 0.2rem;
    text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.9);
    -webkit-text-stroke: 0.1px rgb(0, 0, 0);
}

.main__description {
    padding: 10px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.6);
    line-height: 1.5;
}

.main__image {
    width: 50%;
    height: 50%;
    position: relative;
    padding: auto;
    margin: 1% auto;
    object-fit: cover;
    object-position: center center;
    animation-name: rotate;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

/* Button styles */
.main__button {
    margin: 20px auto;
    display: block;
    text-decoration: none;
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 100px;
    box-shadow:
        0 0 10px #ff0000,
        0 0 10px #ff0000,
        0 0 5px #ff0000,
        0 0 5px #ffffff,
        0 0 5px #ff0000,
        0 0 10px #ff0000,
        0 0 10px #ff0000,
        inset 0 0 30px #ff0000,
        inset -10px -10px 20px rgba(255, 255, 255, 0),
        inset -20px -20px 30px rgba(255, 255, 255, 0),
        inset -30px -30px 40px rgba(255, 255, 255, 0),
        inset -40px -40px 70px rgba(255, 255, 255, 0);
}

.main__button-text {
    font-size: 18px;
}

.main__button:hover {
    background-color: #ff0000;
    text-shadow:
        0 0 5px #ff0000,
        0 0 10px #ff0000,
        0 0 20px #ff0000,
        0 0 25px #ffffff,
        0 0 25px #ffffff,
        inset 0 0 10px #d31f1f,
        inset -10px -10px 20px rgba(255, 255, 255, 0),
        inset -20px -20px 30px rgba(255, 255, 255, 0),
        inset -30px -30px 40px rgba(255, 255, 255, 0),
        inset -40px -40px 70px rgba(255, 255, 255, 0);
}

.main__button:focus {
    background-color: #ff0000;
    text-shadow:
        0 0 5px #ff0000,
        0 0 10px #ff0000,
        0 0 20px #ff0000,
        0 0 25px #ffffff,
        0 0 25px #ffffff,
        inset 0 0 10px #ff0000,
        inset -10px -10px 20px rgba(255, 255, 255, 0),
        inset -20px -20px 30px rgba(255, 255, 255, 0),
        inset -30px -30px 40px rgba(255, 255, 255, 0),
        inset -40px -40px 70px rgba(255, 255, 255, 0);
}

.main__button:active {
    background-color: #000000;
    text-shadow:
        0 0 5px #ff0000,
        0 0 10px #ff0000,
        0 0 20px #ff0000,
        0 0 25px #ffffff,
        0 0 25px #ffffff,
        inset 0 0 10px #000000,
        inset -10px -10px 20px rgba(255, 255, 255, 0),
        inset -20px -20px 30px rgba(255, 255, 255, 0),
        inset -30px -30px 40px rgba(255, 255, 255, 0),
        inset -40px -40px 70px rgba(255, 255, 255, 0);
}

/* Footer styles */
.footer {
    position: relative;
    z-index: 1;
    padding: 2rem;
    text-align: center;
}

/* Small media queries */
@media (max-width: 767px) {
    .header__title {
        font-size: 2rem;
    }

    .main__description {
        font-size: 14px;
    }

    .main__button {
        font-size: 12px;
    }

    .main,
    .footer {
        padding: 1rem;
    }
}

/* Large media queries */
@media (min-width: 768px) {
    .header__title {
        font-size: 4rem;
    }

    .main__description {
        font-size: 16px;
    }

    .main__button {
        font-size: 18px;
    }
}