.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(65, 65, 65, 0.8); /* Color de fondo de la capa con opacidad */
    mask-repeat: repeat;
}

body {
    font-family: "Arial", sans-serif;
    background-color: brown;
    background-image: url(./img/Spider-man-4.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; /* Centra la imagen de fondo */
    position: relative;
    color: #fff;
}

    h1 {
        padding-top: 5%;
        position: relative;
        z-index: 1;
        font-size: 20rem;
        font-weight: 900;
        line-height: 1.2;
        margin: auto 0;
        margin-bottom: 1rem;
        color: #c22c2c;
        -webkit-text-stroke: 2px rgb(243, 241, 255);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.9);
    }

    h2 {
        padding-bottom: 1%;
        position: relative;
        z-index: 1;
        font-size: 2rem;
        font-weight: 900;
        line-height: 1.2;
        margin: auto 0;
        margin-bottom: 1rem;
        color: #6793e6;
        text-align: center;
        letter-spacing: 0.2rem;
        text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.9);
        -webkit-text-stroke: 0.1px rgb(0, 0, 0);
    }

    p {
        padding: 10px;
        margin: 0 auto;
        width: 80%;
        text-align: center;
        text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.6);
        line-height: 1.5;
    }

#ilustracion {
    width: 50%;
    height: 50%;
    position: relative;
    padding: auto;
    margin: 20px auto;
    z-index: 0;
    object-fit: cover;
    object-position: center center;
    transition: transform 2s ease-in-out;
}

#ilustracion:hover {
    transform: rotateY(360deg);
}

.button {
    margin: 20px auto;
    display: block;
    text-decoration: none;
    background-color: #c20000;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 100px;
}

.button:hover {
    background-color: #ff0000;
}

main {
    position: relative;
    z-index: 1;
    padding: 2rem;
    text-align: center;
}

footer {
    position: relative;
    z-index: 1;
    padding: 2rem;
    text-align: center;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }
    
    p {
        font-size: 14px;
    }
    
    .button {
        font-size: 12px;
    }
    
    main,
    footer {
        padding: 1rem;
    }
}

/* Media queries para pantallas más grandes */
@media (min-width: 768px) {
    h1 {
        font-size: 4rem;
    }
    
    p {
        font-size: 16px;
    }
    
    .button {
        font-size: 18px;
    }
}